# PostgreSQL database connection string
DATABASE_URL="postgresql://postgres:postgres@localhost:54001/db"

# (optional) CRON expression to control indexing frequency, "0 0-23/1 * * *" (every 1 hour) by default
INTERVAL_CRON_EXPRESSION=

# (optional) max number of epochs that can be processed at once, make sure this is more than number of epochs that passes between indexer runs, 
BATCH_BLOCK_SIZE=

# (optional) Chain ID, one of 314 (Filecoin Mainnet) or 314159 (Filecoin Calibration), 314 by default
CHAIN_ID=314

# Archival node RPC URL
ARCHIVE_RPC_URL=""

# (optional) Archival node RPC auth token (Bearer token)
ARCHIVE_RPC_AUTH_TOKEN=""

# (optional) Threshold in epochs for using archival node instead of recent node to fetch logs, 1920 default
ARCHIVE_RPC_THRESHOLD=1920

# (optional) Recent node RPC URL, by default public RPC defined by viem for given chain will be used
RECENT_RPC_URL=

# (optional) Recent node RPC auth token (Bearer token)
RECENT_RPC_AUTH_TOKEN=

# (optional) App key for https://www.observe.nestjs.com
OBSERVE_APP_KEY=

# (optional) Secret key for https://www.observe.nestjs.com, should be configured alongside OBSERVE_APP_KEY
OBSERVE_APP_SECRET=

# Activation epoch as described in FIP-0118
ACTIVATION_EPOCH=""

# Epochs per quarter as described in FIP-0118
EPOCHS_PER_QUARTER=259200

# EVM address of Service Rewards Actor (SRA) contract
SERVICE_REWARDS_ACTOR_ADDRESS=""